.ul{
    text-decoration: none;
    list-style: none;
    display:flex;
    justify-content:center;
    gap:8vw;
    background-color: aquamarine;
    padding:32px;
}
.a{
    text-decoration: none;
     
}

.signin,.signout{
     position:relative;
     left:7vw;
     padding:12px;
     background-color: black;
     border-radius:12px;
     color: #fff;
      
}

.cards{
   display: flex;
   flex-flow:row wrap;
   width:100vw;
   row-gap:20px;
   justify-content: space-evenly;
}
.card{
    border:1px solid red;
    width:250px;
    height:auto;
     
}

img{
    width:248px;
    height:100px;
}